<%- include("../partials/signedInHeader") %>
<div class="subheader">
    <h2 class="subhead">Welcome to <%= name %>'s FriendFace Page!</h2>
</div>
<img class="face" src="<%- pic %>" alt=`${currentUser.name}`>
<%- include("../partials/sidebar") %>
<div class="friends">
    <h2 class="friendtitle"><%- name %>'s Cool Friends</h2>
    <% friends.forEach(friend => { %>
        <div class="person">
            <a href="/friend/<%- friend.name %>">
            <img class="friendface" src="<%- friend.avatarUrl %>" alt="<%- name %>'s friends">
            </a>
            <span class="friendname"><%- friend.name %></span>
        </div>
    <% }) %>
</div>